html, body{
	font-family: Trebuchet MS;
	padding: 0;
	margin: 0;
}

header{
	background-color: red;
	padding: 40px;

}

header h3{

	display: inline-block;
	font-size: 20px;
	font-family: Trebuchet MS;
	padding: 5px 30px 5px 30px;
}

h1{
	font-size: 90px;
	color: white;
	text-align: center;
	text-shadow: 0 8px 40px black;
}

header img{
	    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	border-radius: 150px;
	width: 300px;
	border: 30px solid red;
	box-shadow: 0 10px 20px black;
}

.content{
	max-width: 900px;
	margin:0 auto;
	padding: 0 20px;

}

img.big-image{
	max-width: 100%;

	   }

p.caption{
	font-size: 16px;
	font color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color:red;
	text-decoration: none;

}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: lightgrey;
}

footer ul li{
	text-align: center;
	display: inline-block;
	margin: 0px 5px;
}

